*{margin: 0;padding:0 ;}
.container{
    width: 80%;
    margin: auto;
    border: 2px solid;
    padding-bottom: 60px;
}
h1{
    background-color: black;
    color: aliceblue;
    text-transform: uppercase;
    padding: 10px;
}
p{
    padding: 20px;
    margin: 10px;
}
form{
    width: 30%;
    margin: auto;
}
.txt{
    width: 98%;
    padding: 10px;
    margin: 5px;
}
input{
    width: 150%;
    padding: 8px;
    margin: auto;
}
.btn{
width: 330px;
padding: 10px;
}